.container {
width: 800px;
margin: 300px;
margin-left: auto;
margin-top: auto;
justify-content: center;
align-items: center;
margin-bottom: 60px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.container h2 {
 font-family: 'Prata', sans-serif; font-weight: bold; align-items: center; margin-left: 20px;
}

